.btn {
  width: 300px;
}

.btn span {
  background-color: #ccc;
  padding: 5px;
  width: 100px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.btn span.active {
  background-color: #fff;
  border: 1px solid #000;
}
